<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


<div class="container-xl" style="max-width: 1350px !important;">
  <div class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div class="col-sm-8"><h2>Customer <b>Details</b></h2>
<!--            <button type="button"   style="padding: 8px;margin-bottom: 0; color: thistle;background: green;border: none;" class="badge badge-sm bg-gradient-success" data-toggle="modal" data-target="#myModalEdit" >-->
<!--              Chi tiết-->
<!--            </button>-->
            <button style="margin-top: 10px;" data-toggle="modal" data-target="#myModalEdit" class="btn btn-info add-new"><i class="fa-solid fa-dollar-sign"></i> <span style="color: #e52d27;margin-left: 5px;font-weight: 500"></span> Nạp ví </button>
            <button style="margin-top: 10px;background: #2dce89;margin-left: 10px" data-toggle="modal" data-target="#changePassVi" class="btn btn-info add-new" ><span style="color: #e03d00;margin-left: 5px;font-weight: 500">Đổi mã ví</span></button>
            <button style="margin-top: 10px;background: #2dce89;margin-left: 10px" data-toggle="modal" data-target="#create" class="btn btn-info add-new" ><span style="color: #e03d00;margin-left: 5px;font-weight: 500">Tạo bài đăng</span></button>
          </div>
          <div class="col-sm-4">
            <div class="search-box">
              <i class="material-icons"></i>
              <input type="text" class="form-control" placeholder="Search…">
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped table-hover table-bordered">
        <thead>
        <tr>
          <th>#</th>
          <th>Tên<i class="fa fa-sort"></i></th>
          <th>Thời gian đăng</th>
          <th>Mức lương</th>
          <th>Số lượng apply</th>
          <th>Lĩnh vực</th>
          <th>Thể loại</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1</td>
          <td>Thomas Hardy</td>
          <td>89 Chiaroscuro Rd.</td>
          <td>Portland</td>
          <td>97219</td>
          <td>USA</td>
          <td></td>
          <td>
            <a href="#" class="view" title="View" data-toggle="tooltip"><i class="material-icons"></i></a>
            <a href="#" class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
            <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons"></i></a>e
          </td>
        </tr>
        </tbody>
      </table>
      <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
        <ul class="pagination">
          <li class="page-item disabled"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
          <li class="page-item"><a href="#" class="page-link">1</a></li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item active"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">4</a></li>
          <li class="page-item"><a href="#" class="page-link">5</a></li>
          <li class="page-item"><a href="#" class="page-link"><i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--Nap vi tiền-->
<div class="container">
  <!-- Trigger the modal with a button --><!-- Modal -->
  <div  class="modal" id="myModalEdit">
    <div class="modal-dialog">
      <!-- Modal content-->
      <form [formGroup]="walletForm" (ngSubmit)="rechargeWallet()">
        <div class="modal-content">
          <div class="modal-header" >
            <div style="display: flex;flex-direction: column">
              <h4 class="modal-title">Nạp ví tiền</h4>
              <h4 class="modal-title">Số tiên : {{enterpriseLogin?.viEnterprise}} $</h4>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="username1" class="text-info">Nhập mã ví:</label><br>
              <input type="text" value=""(ngModelChange)="inputCodeViWalletForm()"formControlName="codeVi"   id="username1" class="form-control">
            </div>
            <p id="codeVi1" style="display:none;color: red">Mã ví không hợp lệ!</p>
            <p id="codeVi2" style="display:none;color: forestgreen">Mã ví hợp lệ !</p>
            <div class="form-group">
              <label for="username2" class="text-info">Nhập số tiền :</label><br>
              <input type="number" min="5" formControlName="viEnterprise"  id="username2" class="form-control" >
              <p *ngIf="!walletForm.get('viEnterprise')?.valid " style="color: red">Số tiền nhỏ nhất nạp là 5$</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default btn btn-info add-new" >Nạp ví</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
<!--Đổi mã ví-->
<div class="container" >
  <!-- Trigger the modal with a button --><!-- Modal -->
  <div  class="modal" id="changePassVi">
    <div class="modal-dialog">
      <!-- Modal content-->
      <form [formGroup]="changeCodeViForm" (ngSubmit)="changeCodeVi()" >
        <div class="modal-content">
          <div class="modal-header" >
            <div style="display: flex;flex-direction: column">
              <h4 class="modal-title">Đổi mã ví</h4>
            </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="username12" class="text-info">Nhập mã ví cũ:</label><br>
              <input type="text" value=""(ngModelChange)="inputCodeViChangeCodeViForm()"formControlName="codeViOld"   id="username12" class="form-control">
            </div>
<!--            2,3-->
            <p id="codeVi3" style="display:none;color: red">Mã ví cũ không hợp lệ!</p>
            <p id="codeVi4" style="display:none;color: forestgreen">Mã ví hợp lệ !</p>
            <div class="form-group">
              <label for="username233" class="text-info">Nhập mã ví mới :</label><br>
              <input type="text" formControlName="codeViNew"  id="username233" class="form-control" >
              <p *ngIf="!changeCodeViForm.get('codeViNew')?.valid  && changeCodeViForm.get('codeViNew')?.touched" style="color:red">Mã ví không đủ bảo mật !</p>
            </div>
            <div class="form-group">
              <label for="username23" class="text-info">Nhập lại mã ví mới :</label><br>
              <input type="text" (ngModelChange)="codeViAgain()" formControlName="codeViNewAgain"  id="username23" class="form-control">
            </div>
            <p id="codeViNewAgain1" style="display:none;color: red">Mã ví mới chưa khớp!</p>
            <p id="codeViNewAgain2" style="display:none;color: forestgreen">Mã ví mới đã khớp</p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-default btn btn-info add-new"  >Nạp ví</button>
          </div>
        </div>
      </form>

    </div>
  </div>

</div>
<div class="container" >
  <!-- Trigger the modal with a button --><!-- Modal -->
  <div  class="modal" id="create">
    <div class="modal-dialog">
      <!-- Modal content-->
        <div class="modal-content" style="padding: 20px; width: 1200px;right: 333px">
          <div class=" text-center mt-5 ">
            <h1 >Tạo bài đăng mới</h1>
          </div>
          <div class="row ">
            <div class="col-lg-10 mx-auto">
              <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                  <div class = "container">
                    <form id="contact-form" role="form" [formGroup]="createPostForm" (ngSubmit)="confirmCreatePost()">
                      <div class="controls">
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="form_name">Tên bài đăng</label>
                              <input id="form_name" type="text" formControlName="namePostEnterprise" name="name" class="form-control" placeholder="Nhập tên bài đăng" required="required" data-error="Firstname is required.">
                            </div>
                            <p *ngIf="!createPostForm.get('namePostEnterprise')?.valid && createPostForm.get('namePostEnterprise')?.touched" style="color: red;margin: 0">Không được để trống</p>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="form_need">Thuộc loại lĩnh vực</label>
                              <select id="form_need" name="need" formControlName="idField" class="form-control" required="required" data-error="Chọn lĩnh vục">
                                <option *ngFor="let a of listField" value="{{a.idField}}">{{a.nameField}}</option>
                              </select>
                            </div>
                            <p *ngIf="!createPostForm.get('idField')?.valid && createPostForm.get('idField')?.touched" style="color: red;margin: 0">Không được để trống</p>

                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="form_name1">Vị trí ứng tuyển </label>
                              <input id="form_name1" type="text" formControlName="vacanciesPostEnterprise" name="name" class="form-control" placeholder="Nhập tên bài đăng" required="required" data-error="Firstname is required.">
                            </div>
                            <p *ngIf="!createPostForm.get('vacanciesPostEnterprise')?.valid && createPostForm.get('vacanciesPostEnterprise')?.touched"style="color: red;margin: 0">Không được để trống</p>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="form_email">Khu vực</label>
                              <input id="form_email" type="email" formControlName="addressMainEnterprise" name="email" class="form-control" placeholder="Please enter your email *" required="required" data-error="Ứng tuyển tại khu vực">
                            </div>
                            <p *ngIf="!createPostForm.get('addressMainEnterprise')?.valid && createPostForm.get('addressMainEnterprise')?.touched" style="color: red;margin: 0">Không được để trống</p>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="form_lastname">Ngày hết hạn</label>
                              <input id="form_lastname" type="date" formControlName="expirationDatePostEnterprise" name="surname" class="form-control" placeholder="Please enter your lastname *" required="required" data-error="Lastname is required.">
                            </div>
                            <p *ngIf="!createPostForm.get('expirationDatePostEnterprise')?.valid && createPostForm.get('expirationDatePostEnterprise')?.touched" style="color: red;margin: 0">Không được để trống</p>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="form_lastname1">Hình thức job</label>
                              <select  id="form_lastname1" name="need" formControlName="idFormJob" class="form-control" required="required" data-error="Vip-thường">
                                <option *ngFor="let a of listFormJob" value="{{a.idFormJob}}">{{a.nameFormJob}}</option>
                              </select>
                            </div>
                            <p *ngIf="!createPostForm.get('idFormJob')?.valid && createPostForm.get('idFormJob')?.touched" style="color: red;margin: 0">Không được để trống</p>

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="form_need1">Chọn gói</label>
                              <select id="form_need1" name="need" formControlName="idRegime" class="form-control" required="required" data-error="Vip-thường">
                                <option *ngFor="let a of listRegime" value="{{a.idRegime}}">{{a.nameRegime}}</option>
                              </select>
                            </div>
                            <p *ngIf="!createPostForm.get('idRegime')?.valid && createPostForm.get('idRegime')?.touched" style="color: red;margin: 0">Không được để trống</p>

                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="form_lastname12">Mức lương thấp nhất(-triệu vnd)</label>
                              <input id="form_lastname12" type="number" formControlName="salarySmallPostEnterprise" name="surname" class="form-control" placeholder="Mức lương thấp nhất " required="required" data-error="Lastname is required.">
                            </div>
                            <p *ngIf="!createPostForm.get('salarySmallPostEnterprise')?.valid && createPostForm.get('salarySmallPostEnterprise')?.touched" style="color: red;margin: 0">Dữ liệu nhập không hợp lệ!</p>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <label for="form_lastname2">Mức lương cao nhất(-triệu vnd)</label>
                              <input id="form_lastname2" type="number" formControlName="salaryBigPostEnterprise" name="surname" class="form-control" placeholder="Mức lương cao nhất" required="required" data-error="Lastname is required.">
                            </div>
                            <p *ngIf="!createPostForm.get('salaryBigPostEnterprise')?.valid && createPostForm.get('salaryBigPostEnterprise')?.touched" style="color: red;margin: 0">Dữ liệu nhập không hợp lệ</p>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <label for="form_message">Mô tả bài đăng</label>
                              <textarea id="form_message" name="message" formControlName="describePostEnterprise" class="form-control" placeholder="Write your message here." rows="4" required="required" data-error="Thêm mô tả bài viết"></textarea
                              >
                            </div>
                            <p *ngIf="!createPostForm.get('describePostEnterprise')?.valid && createPostForm.get('describePostEnterprise')?.touched" style="color: red;">Không được để trống!</p>
                          </div>
                          <div class="col-md-12">
                            <input type="submit" class="btn btn-success btn-send  pt-2 btn-block
                            " value="Tạo ngay" >
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

              </div>
              <!-- /.8 -->
            </div>
            <!-- /.row-->
          </div>
    </div>
  </div>
 </div>
</div>
